<button type="button"
        title="{{ actionTitle[GameControlAction.UP] }}"
        class="btn-sm btn-secondary"
        style="position: absolute; top: 0px; left: calc(50% - 17px)"
        (click)="action(GameControlAction.UP)"
>
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</button>
<button type="button"
        title="{{ actionTitle[GameControlAction.DOWN] }}"
        class="btn-sm btn-secondary"
        style="position: absolute; bottom: 0px; left: calc(50% - 17px)"
        (click)="action(GameControlAction.DOWN)"
>
  <i class="fa fa-chevron-down" aria-hidden="true"></i>
</button>
<button type="button"
        title="{{ actionTitle[GameControlAction.LEFT] }}"
        class="btn-sm btn-secondary"
        style="position: absolute; top: calc(50% - 11px); left: 0px"
        (click)="action(GameControlAction.LEFT)"
>
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
</button>
<button type="button"
        title="{{ actionTitle[GameControlAction.RIGHT] }}"
        class="btn-sm btn-secondary"
        style="position: absolute; top: calc(50% - 11px); right: 0px"
        (click)="action(GameControlAction.RIGHT)"
>
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
</button>
<button type="button"
        title="{{ isFullScreen() ? actionTitle[GameControlAction.RESTORE_SCREEN] : actionTitle[GameControlAction.FULL_SCREEN]}}"
        class="btn-sm btn-secondary"
        style="position: absolute; top: 0px; right: 0px"
        (click)="action(isFullScreen() ? GameControlAction.RESTORE_SCREEN : GameControlAction.FULL_SCREEN)"
>
  <i class="fa" aria-hidden="true"
     [ngClass]="{'fa-window-maximize': !isFullScreen(), 'fa-window-restore': isFullScreen()}"></i>
</button>
<div class="btn-group-sm btn-group-vertical" role="group" aria-label="controls"
     style="position: absolute; top: 0px; left: 0px" ngbDropdown>
  <button type="button"
          title="Show/Hide Menu"
          class="btn btn-secondary"
          (click)="toggleMenu()"
  >
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <button type="button"
          title="{{ isGameStarted() ? actionTitle[GameControlAction.STOP_GAME] : actionTitle[GameControlAction.START_GAME]}}"
          class="btn btn-secondary"
          [ngbCollapse]="isMenuHidden()"
          (click)="action(isGameStarted() ? GameControlAction.STOP_GAME : GameControlAction.START_GAME)"
  >
    <i class="fa" aria-hidden="true" [ngClass]="{'fa-play': !isGameStarted(), 'fa-pause': isGameStarted()}"></i>
  </button>
  <button type="button"
          title="{{ actionTitle[GameControlAction.STEP] }}"
          class="btn btn-secondary"
          [ngbCollapse]="isMenuHidden()"
          (click)="action(GameControlAction.STEP)"
  >
    <i class="fa fa-step-forward" aria-hidden="true"></i>
  </button>
  <button type="button"
          title="{{ actionTitle[GameControlAction.ERASE] }}"
          class="btn btn-secondary"
          [ngbCollapse]="isMenuHidden()"
          (click)="action(GameControlAction.ERASE)"
  >
    <i class="fa fa-eraser" aria-hidden="true"></i>
  </button>
  <button type="button"
          title="{{ actionTitle[GameControlAction.ZOOM_IN] }}"
          class="btn btn-secondary"
          [ngbCollapse]="isMenuHidden()"
          (click)="action(GameControlAction.ZOOM_IN)"
  >
    <i class="fa fa-search-plus" aria-hidden="true"></i>
  </button>
  <button type="button"
          title="{{ actionTitle[GameControlAction.ZOOM_OUT] }}"
          class="btn btn-secondary"
          [ngbCollapse]="isMenuHidden()"
          (click)="action(GameControlAction.ZOOM_OUT)"
  >
    <i class="fa fa-search-minus" aria-hidden="true"></i>
  </button>
  <div class="btn-group-sm btn-group-vertical" role="group" ngbDropdown>
    <button type="button"
            title="Game Speed"
            class="btn btn-secondary"
            ngbDropdownToggle
    >
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" style="cursor:pointer;" (click)=action(GameControlAction.SPEED_VERY_SLOW)>
        {{ actionTitle[GameControlAction.SPEED_VERY_SLOW] }}
      </a>
      <a class="dropdown-item" style="cursor:pointer;" (click)=action(GameControlAction.SPEED_SLOW)>
        {{ actionTitle[GameControlAction.SPEED_SLOW] }}
      </a>
      <a class="dropdown-item" style="cursor:pointer;" (click)=action(GameControlAction.SPEED_NORMAL)>
        {{ actionTitle[GameControlAction.SPEED_NORMAL] }}
      </a>
      <a class="dropdown-item" style="cursor:pointer;" (click)=action(GameControlAction.SPEED_FAST)>
        {{ actionTitle[GameControlAction.SPEED_FAST] }}
      </a>
      <a class="dropdown-item" style="cursor:pointer;" (click)=action(GameControlAction.SPEED_VERY_FAST)>
        {{ actionTitle[GameControlAction.SPEED_VERY_FAST] }}
      </a>
    </div>
  </div>
</div>
