<div class="card shadow rounded-0" *ngIf="getTemplate() != null">
  <div class="card-body" [ngClass]="{'template-detail p-0 m-0': showDetails}">
    <ng-container *ngIf="showDetails; else showTemplate">
      <app-template-detail [template]="getTemplate()"></app-template-detail>
      <button class="btn btn-sm btn-outline-dark back-button" (click)="showDetails = !showDetails">
        <span class="fa fa-fw fa-arrow-left"></span> Back
      </button>
    </ng-container>
    <ng-template #showTemplate>
      <div class="row">
        <div class="col-10">
          <div>
            <h5>{{ getTemplate().getName() }}
            </h5>
            <h5><small class="text-muted" [innerHTML]="getTemplate().getComments().join(' ') | linkify"></small></h5>
          </div>
          <div *ngIf="getTemplate().getAuthor()">
            <small class="text-muted">- {{ getTemplate().getAuthor() }}</small>
          </div>
        </div>
        <div ngbDropdown placement="left" container="body" class="col-2">
          <button class="btn btn-light pull-right" id="themes" ngbDropdownToggle>Options</button>
          <div ngbDropdownMenu class="title-dropdown dropdown-menu mb-2">
            <button ngbDropdownItem
                    class="title-dropdown-item dropdown-item clickable"
                    (click)="showDetails = !showDetails">
              <span class="fa fa-fw fa-info-circle"></span> About
            </button>
            <button ngbDropdownItem
                    class="title-dropdown-item dropdown-item clickable"
                    [routerLink]="['/editor', 'template', getTemplate().getFileName()]">
              <span class="fa fa-fw fa-pencil-square-o"></span> Editor
            </button>
            <button ngbDropdownItem
                    class="title-dropdown-item dropdown-item clickable"
                    (click)="openPreview()">
              <span class="fa fa-fw fa-window-maximize"></span> Preview
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
