<div class="card text-center shadow" *ngIf="getTemplate() != null && templateWrapper">
  <div class="template-card card-body p-0 m-0" [ngClass]="{'template-detail': isShowDetails()}">
    <ng-container *ngIf="isShowDetails(); else showTemplate">
      <app-template-detail [template]="getTemplate()"></app-template-detail>
    </ng-container>
    <ng-template #showTemplate>
      <app-game-board [template]="getTemplatePromise()" [preview]="preview" class="w-100 h-100"></app-game-board>
      <div ngbDropdown container="body" class="title shadow p-1 rounded">
        <span ngbDropdownToggle>{{ getTemplate().getName() }}</span>
        <div ngbDropdownMenu class="dropdown-menu">
          <button ngbDropdownItem
                  class="dropdown-item clickable"
                  (click)="toggleDetails()">
            <span class="fa fa-fw fa-info-circle"></span> About
          </button>
          <button ngbDropdownItem
                  class="dropdown-item clickable"
                  [routerLink]="['/game-board', 'template', getTemplate().getFileName()]">
            <span class="fa fa-fw fa-pencil-square-o"></span> Editor
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<app-game-board *ngIf="getTemplate() != null && !templateWrapper" [template]="getTemplatePromise()" [preview]="preview"
                class="w-100 h-100"></app-game-board>
