div.template-card {
  height: 18em;
}

.title {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title:hover {
  color: #DCDCDC;
  cursor: pointer;
}

.back-button {
  position: absolute;
  top: 1em;
  right: 3em;
}

.template-detail {
  overflow-y: auto;
}
