<div class="card text-center shadow rounded-0" *ngIf="getTemplate() != null">
  <div class="template-card card-body p-0 m-0" [ngClass]="{'template-detail': isShowDetails()}">
    <ng-container *ngIf="isShowDetails(); else showTemplate">
      <app-template-detail [template]="getTemplate()"></app-template-detail>
      <button class="btn btn-sm btn-outline-dark back-button" (click)="toggleDetails()">
        <span class="fa fa-fw fa-arrow-left"></span> Back
      </button>
    </ng-container>
    <ng-template #showTemplate>
      <app-game-board [template]="getTemplatePromise()" [preview]="preview" class="w-100 h-100"
                      (dblclick)="openPreview()"></app-game-board>
      <div ngbDropdown placement="top" container="body" class="title shadow p-1 rounded">
        <span class="unselectable" ngbDropdownToggle>{{ getTemplate().getName() }}</span>
        <div ngbDropdownMenu class="title-dropdown dropdown-menu mb-2">
          <button ngbDropdownItem
                  class="title-dropdown-item dropdown-item clickable"
                  placement="right"
                  container="body"
                  (click)="openPreview()"
                  [ngbTooltip]="doubleClick">
            <span class="fa fa-fw fa-window-maximize"></span> Preview
          </button>
          <ng-template #doubleClick>
            <span class="fa fa-fw fa-mouse-pointer"></span> Double click
          </ng-template>
          <button ngbDropdownItem
                  class="title-dropdown-item dropdown-item clickable"
                  [routerLink]="['/editor', 'template', getTemplate().getFileName()]">
            <span class="fa fa-fw fa-pencil-square-o"></span> Editor
          </button>
          <button ngbDropdownItem
                  class="title-dropdown-item dropdown-item clickable"
                  (click)="toggleDetails()">
            <span class="fa fa-fw fa-info-circle"></span> About
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
