<div class="card text-left px-5" style="overflow-wrap: break-word; border: 0">
  <div class="card-body">
    <h6 class="card-title">Title</h6>
    <p class="card-text">{{ getPattern().getName() }}</p>
  </div>
  <div class="card-body">
    <h6 class="card-title">Rule</h6>
    <p class="card-text">{{ getPattern().getRule().getFormattedRuleString() }}</p>
  </div>
  <div class="card-body" *ngIf="getPattern().getComments() != null">
    <h6 class="card-title">Notes</h6>
    <p class="card-text" [innerHtml]="getPattern().getComments().join(' ') | linkify"></p>
  </div>
  <div class="card-body" *ngIf="getPattern().getAuthor() != null">
    <h6 class="card-title">Author</h6>
    <p class="card-text">{{ getPattern().getAuthor() }}</p>
  </div>
  <div class="card-body" *ngIf="getPattern().getCategories().length">
    <h6 class="card-title">Categories</h6>
    <p class="card-text">{{ getPattern().getCategories().join(', ') }}</p>
  </div>
  <div class="card-body">
    <h6 class="card-title">Bounding box</h6>
    <p class="card-text">x = {{ getPattern().getBoundingBox().x }}, y = {{ getPattern().getBoundingBox().y }}</p>
  </div>
  <div class="card-body">
    <h6 class="card-title">File name</h6>
    <p class="card-text">{{ getPattern().getFileName() }}</p>
  </div>
  <div class="card-body">
    <h6 class="card-title">Pattern</h6>
    <p class="card-text" [innerHtml]="getPattern().getPattern()"></p>
  </div>
</div>
