<div class="row">
  <div class="col-12">
    <label class="sr-only" for="inlineFormInputGroup">Filter</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Filter" [(ngModel)]="filter">
    </div>
  </div>
</div>
<div class="row" *ngIf="loading" style="height: 50vh; display: flex; align-items: center;">
  <div class="col">
    <app-spinner></app-spinner>
  </div>
</div>
<div id="top" class="row" *ngIf="!loading">
  <div class="col-lg-6 col-md-12 top-buffer bottom-buffer"
       *ngFor="let template of getTemplates() | templateFilter:filter | paginate: { itemsPerPage: 12,
                                                                                    currentPage: page
                                                                                  }"
  >
    <app-template [template]="template"></app-template>
  </div>
  <div class="col-12 top-buffer bottom-buffer text-center">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
