<div ngbDropdown class="d-inline-block" [formGroup]="formGroup">
  <button class="btn btn-sm btn-light" id="viewMode" ngbDropdownToggle>View Mode: {{ getActive() }}</button>
  <div ngbDropdownMenu class="dropdown-menu">
    <a ngbDropdownItem class="dropdown-item clickable" *ngFor="let viewMode of viewModes" (click)=setMode(viewMode.key)>
      <i class="fa"
         [ngClass]="{'fa-circle-o': viewMode.key !== formGroup.get('mode').value, 'fa-check-circle-o': viewMode.key === formGroup.get('mode').value}"></i>
      {{ viewMode.name }}
    </a>
  </div>
</div>
