<div class="form-group row">
  <label class="col-md-1 col-form-label">Theme</label>
  <div class="col-md-11">
    <select class="form-control" [(ngModel)]="name">
      <option *ngFor="let theme of themes;" [value]="theme.name">{{ theme.name }}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Cells</h2>
    <hr>
  </div>
</div>
<div *ngFor="let aliveColor of alive; index as i; first as isFirst; last as isLast; trackBy: trackBy" class="form-group row">
  <label class="col-md-1 col-form-label">{{ isFirst ? 'Alive' : '' }}</label>
  <div class="col-sm-11">
    <div class="input-group">
      <input type="text"
             class="form-control"
             [colorPicker]="alive[i]"
             (colorPickerChange)="setAlive(i, $event)"
             [cpPosition]="'bottom'"
             [style.background-color]="alive[i]"
             [value]="alive[i]">
      <span class="input-group-btn">
        <button *ngIf="isFirst"
                class="btn btn-outline-primary"
                type="button"
                (click)="pushAlive(alive[i])"
        >
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button *ngIf="!isFirst"
                class="btn btn-outline-danger"
                type="button"
                (click)="removeAlive(i, 1)"
        >
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-1 col-form-label">Dead</label>
  <div class="col-sm-11">
    <input type="text"
           class="form-control"
           [colorPicker]="dead"
           (colorPickerChange)="dead = $event"
           [cpPosition]="'bottom'"
           [style.background-color]="dead"
           [value]="dead">
  </div>
</div>

<div class="row top-buffer">
  <div class="col">
    <h2>
      Border
      <div class="btn-group btn-group-sm" data-toggle="buttons">
        <label class="btn btn-outline-primary" [ngClass]="{ 'active': border }">
          <input type="radio" name="options" autocomplete="off" [checked]="border"
                 (click)="border = true">On
        </label>
        <label class="btn btn-outline-primary" [ngClass]="{ 'active': !border }">
          <input type="radio" name="options" autocomplete="off" [checked]="!border"
                 (click)="border = false">Off
        </label>
      </div>
    </h2>
    <hr *ngIf="border">
  </div>
</div>
<div class="form-group row" *ngIf="border">
  <label class="col-md-1 col-form-label">Color</label>
  <div class="col-sm-11">
    <input type="text"
           class="form-control"
           [colorPicker]="borderColor"
           (colorPickerChange)="borderColor = $event"
           [cpPosition]="'bottom'"
           [style.background-color]="borderColor"
           [value]="borderColor">
  </div>
</div>
