<div class="row">
  <div class="col">
    <h2>Cells</h2>
    <hr>
  </div>
</div>
<div *ngFor="let aliveCellColor of gbStyleConfig.aliveCellColors; index as i; first as isFirst; last as isLast; trackBy: trackBy" class="form-group row">
  <label class="col-md-1 col-form-label">{{ isFirst ? 'Alive' : '' }}</label>
  <div class="col-sm-11">
    <div class="input-group">
      <input type="text"
             class="form-control"
             [colorPicker]="gbStyleConfig.aliveCellColors[i]"
             (colorPickerChange)="gbStyleConfig.aliveCellColors[i] = $event"
             [cpPosition]="'bottom'"
             [style.border-color]="gbStyleConfig.aliveCellColors[i]"
             [value]="gbStyleConfig.aliveCellColors[i]">
      <span class="input-group-btn">
        <button *ngIf="isLast"
                class="btn btn-success"
                type="button"
                (click)="gbStyleConfig.aliveCellColors.push('#000')"
        >
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button *ngIf="!isLast"
                class="btn btn-danger"
                type="button"
                (click)="gbStyleConfig.aliveCellColors.splice(i, 1)"
        >
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-md-1 col-form-label">Dead</label>
  <div class="col-sm-11">
    <input type="text"
           class="form-control"
           [colorPicker]="gbStyleConfig.deadCellColor"
           (colorPickerChange)="gbStyleConfig.deadCellColor = $event"
           [cpPosition]="'bottom'"
           [style.border-color]="gbStyleConfig.deadCellColor"
           [value]="gbStyleConfig.deadCellColor">
  </div>
</div>

<div class="row top-buffer">
  <div class="col">
    <h2>
      Border
      <div class="btn-group btn-group-sm" data-toggle="buttons">
        <label class="btn btn-outline-primary" [ngClass]="{ 'active': gbConfig.cellSpace == 1 }">
          <input type="radio" name="options" autocomplete="off" [checked]="gbConfig.cellSpace == 1"
                 (click)="gbConfig.cellSpace = 1">On
        </label>
        <label class="btn btn-outline-primary" [ngClass]="{ 'active': gbConfig.cellSpace == 0 }">
          <input type="radio" name="options" autocomplete="off" [checked]="gbConfig.cellSpace == 0"
                 (click)="gbConfig.cellSpace = 0">Off
        </label>
      </div>
    </h2>
    <hr *ngIf="gbConfig.cellSpace == 1">
  </div>
</div>
<div class="form-group row" *ngIf="gbConfig.cellSpace == 1">
  <label class="col-md-1 col-form-label">Color</label>
  <div class="col-sm-11">
    <input type="text"
           class="form-control"
           [colorPicker]="gbStyleConfig.borderColor"
           (colorPickerChange)="gbStyleConfig.borderColor = $event"
           [cpPosition]="'bottom'"
           [style.border-color]="gbStyleConfig.borderColor"
           [value]="gbStyleConfig.borderColor">
  </div>
</div>
