.top-buffer {
  margin-top: 10px;
}

.bottom-buffer {
  margin-bottom: 15px;
}

.clickable {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}


@media (min-width: 768px) {
  .template-preview-modal > .modal-dialog {
    width: 90%;
    max-width: 1200px;
  }
}

.template-preview-modal > .modal-dialog > .modal-content {
  border-radius: 0 !important;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
