.wrapper-input:focus-within {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
}

.search-box-input:focus {
  outline: transparent !important;
  box-shadow: none;
}

.active-tag-container {
  margin-left: .5rem;
  margin-right: .5rem;
  width: 100%;
}

.search-icon {
  float: right;
  margin-right: 8px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
  color: #007bff;
}
